[2017-10-23 18:59] bradmartin opened #1 "So Sexy"
This is Sexy. Thanks @davecoffin
🎉

[2017-10-23 18:59] #1 closed, assigned to nobody

[2017-11-10 03:33] dyazincahya opened #2 "Time picker Error!"
I have error when i use timePicker

[code]

[2017-11-10 03:56] shiv19 commented on #2
Hi @dyazincahya
Simply pass an empty object into picker.pickTime()

Like this
picker.pickTime({})
It shouldn't crash after that.

This is a known bug. It will be fixed with next release. :)

[2017-11-22 11:37] dlucidone opened #3 "Gray Patch Over Cancel and Done Button?"
![simulator screen shot - iphone 7 - 2017-11-22 at 17 06 10](https://user-images.githubusercontent.com/9256365/33125698-8d4f0ca2-cfa7-11e7-964e-9e2992294450.png)

I'm using this plugin on other pages as well but on one particular page this is appearing like this?
Any Help! Thanks!

[2017-11-22 16:52] davecoffin commented on #3
Can you provide some more context? Nothing jumps to mind immediately, share some code.

[2017-11-22 17:00] davecoffin commented on #3
Totally randomly I think I just stumbled upon the answer here. That looks like it might be the top of a keyboard if your simulator is using the hardware keyboard. Are you launching the picker as a result of tapping in a textfield? If so, your keyboard is opening, and you have a hardware keyboard connected in your simulator, and that top part is part of IQKeyboard. Thats my guess.

[2017-11-23 07:06] dlucidone commented on #3
@davecoffin  Yeah true! you got it correct I tested it, but one more issue I resolved is by making text field editable. Don't know the reason but It resolved the blank gray patch opening issue.

[2017-11-23 11:04] davecoffin commented on #3
Great!

[2017-11-23 11:04] #3 closed, assigned to nobody

[2017-11-25 07:39] jolee11 opened #4 "CANCEL button"
I would like to know how to detect the dialog is closed caused by CANCEL button or Android back button!

It is because I have allocated some resources before open the dialog. But, cannot release them if user tap CANCEL.

Thank you very much!

[2017-11-27 18:47] davecoffin commented on #4
There is currently no hook into that action. We can look into adding it, but in the meantime feel free to fork and submit a PR!

[2017-11-28 07:56] jolee11 commented on #4
Oh, I See! Thank you very much!

[2017-12-07 20:58] ITServicesAM opened #5 "Starttime of TimePicker no set to current time"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Android
- Android Version 7.0
- device

### Ple

[2018-01-04 05:17] spstratis opened #7 "Is it possible to localize the month and number values that display in the date picker?"
I have a situation where I need the month values and day/year number values localized. Is this achievable with this plugin?

I downloaded and have played around with the demo, but found that even when changing the OS language, the datepicker is still using english resource strings.

I'm using tns 3.4.0 across the board right now.

[2018-01-04 15:25] spstratis commented on #7
So it looks like on Android it will automatically translate the months but not on iOS.

[2018-01-04 15:56] spstratis commented on #7
After playing around with it some more it looks like in order to get it to localize on iOS, you need to open up Xcode and add the localizations to the project settings.  Once you add it for each language you need, the UIDatePicker will start to display localized in the language the user has set on their phone.

[2018-01-04 16:15] shiv19 commented on #7
Thanks for the solution @spstratis

[2018-01-04 16:15] #7 closed, assigned to nobody

[2018-01-04 22:10] arcovoltaico opened #8 "Doc for Angular Nativescript"
Hi Dave,
Could you add an installation & example doc for the Angular NS?
Thx!

[2018-01-30 20:03] DenizenB commented on #5
I'm experiencing the same issue; whenever the time dialog is opened on Android (8.0), the time is set to 11:12 instead of the current time. This happens for both the 12h and 24h modes.

I tried forking and calling the TimePickerDialog.updateTime method before showing the dialog, but that had no effect. Not sure what the issue could be.

[2018-02-08 16:29] jogboms commented on #5
@SomewhatDisoriented  It is caused by the line.
https://github.com/davecoffin/nativescript-modal-datetimepicker/blob/16a62116ad1ba8b79f92996955df632fc8cf1619/src/modal-datetimepicker.android.ts#L111

@davecoffin I wonder if we could `startingHour` and `startingMinute` as parameters to determine what hour/minute you want to set which would otherwise default to the calendar's.

[2018-02-13 05:48] Ot92 commented on #2
to add on to @shiv19 answer, when using TypeScript

`            picker.pickTime({
                is24HourView: true
            })`

you can set it to false if you so wish

[2018-02-16 10:16] indianazhao commented on #8
+1

[2018-02-16 14:06] indianazhao commented on #8
I just installed this plugin by the command `tns plugin add nativescript-modal-datetimepicker` and use it in my Angular NS.

main.component.ts:
[code]

main.component.html:
[code]

[2018-02-28 14:25] RadouaneRoufid opened #10 "Add support for languages"
`nativescript-modal-datetimepicker` displays week days and months in English. Is there any way to force using another language ? French for example.

[2018-02-28 18:37] shiv19 commented on #10
Please take a look at this closed issue
https://github.com/davecoffin/nativescript-modal-datetimepicker/issues/7

[2018-02-28 19:01] RadouaneRoufid commented on #10
Thank you

[2018-02-28 19:19] #10 closed, assigned to nobody

[2018-03-19 17:50] #5 closed, assigned to nobody

[2018-03-19 17:55] shiv19 commented on #5
Published as v1.1.0

[2018-03-20 19:25] delanick opened #11 "How to style the Android picker"
Hi, how do I style the Android modal picker(s)? I'd like to change the colours. Please advise.

[2018-03-21 07:58] shiv19 commented on #11
You will have to add the styles to `App_Resources/android/values-21/styles.xml`
you can read the android docs for the list of available customizations,
or you can read this SO article
https://stackoverflow.com/questions/32549992/how-to-customize-timepicker-in-material-design-android

[2018-03-21 07:58] #11 closed, assigned to nobody

[2018-03-21 08:19] jogboms commented on #5
Thanks @shiv19 👌

[2018-03-21 08:20] shiv19 commented on #5
You are welcome ^_^

[2018-03-26 12:54] whins opened #12 "Custom colors"
Hi!
How to chantge basic colors?
Thanks

[2018-03-26 17:16] nunopedrosa opened #13 "Compatibility problems with iOS below 10"
There's a simple issue that breaks compatibility with iOS prior to v10, due to the use of:

https://developer.apple.com/documentation/uikit/uicontentsizecategoryadjusting/1771731-adjustsfontforcontentsizecategor

which is iOS 10.0+ only.

My suggestion is to check for iOS version and only use that attribute if version is 10+.
Something in the line of:

[code]

or similar.
Nativescript mentions gra

[2018-04-05 07:16] venkateshsj opened #15 "Datepicker dialog does not render properly on Android 8.0"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
`Android 8.0 (OnePlus3 - OxygenOS 5.0.2`

### Ple

[2018-04-06 22:49] dillonstreator opened #16 "IOS app crashing UIColor outside of expected range"
### Which platform(s) does your issue occur on?
- iOS

### Please, tell us how to recreate the issue in as much detail as possible.
Install the plugin and run on ios.

### Error thrown inside the debugger
[code]

### Findings
Every parameter passed to UIColor must be between 0 and 1 and not 0 to 255

### Is there any code involved?
I was able to resolve the issue by mapping the previous values bet

[2018-04-13 11:11] carlosanjos opened #18 "DatePicker crashes on iOS 9.x with message [UILabel setAdjustsFontForContentSizeCategory:]: unrecognized selector sent to instance"
### Which platform(s) does your issue occur on?
iOS emulator version 9.3
iOS device version 9.2.1
iOS device model me432b/a (iPhone 5s)

### Please, provide the following version numbers that your issue occurs with:
It's a NativeScript Angular 5 project

`tns --version`
3.4.3
`tns-ios`
3.4.1
#### Packages Used
[code]
### Steps to reproduce the bug

Tap on a TextField to fire the modal. It works li

[2018-04-13 14:03] EMGSoftware commented on #8
There is one more step you need to take in order to work correctly:

- Add `import { ModalDatetimepicker } from "nativescript-modal-datetimepicker"` to your `app.module.ts` and `ModalDatetimepicker` to the `providers` array as:
`providers: [
		_BlablablaOtherProviders_,
		ModalDatetimepicker
 ],`

[2018-04-13 14:14] nunopedrosa commented on #18
In the meantime, either comment the attribute, or place an if around it, like:

[2018-04-15 18:09] raniaallagui commented on #8
how can i make two datepicker  one of datestart and the other for enddate i make like this  but  the date its the same for both of interface
picker.pickDate({
    title: 'Date debut',
    theme: 'dark',
    maxDate: new Date(),
    is24HourView: false
  }).then((result) => {
    this.user.birthday = result['year'] + '-' + result['month'] + '-' + result['day'];
    this.user.dateend=result['year']

[2018-04-17 00:34] raniaallagui commented on #8
i have a list of services every service have his datePicker (dateend) ,  but the lvalue of the datepicker its the same for all the item how can i make a dymanic list which i can change the date for every item in the list ? ;)

[2018-04-18 12:58] atchakraborty commented on #15
Same thing is happening for me as well

[2018-04-22 17:37] cerireyhan opened #19 "Cannot set startingMinute to 0"
### Which platform(s) does your issue occur on?
- iOS and Android
- android emulator and device (iPhone X)
- latest release

**Steps to Reproduce**
Step 1: Inside options parameter of pickTime() method, set the startingMinute to 0 and startingHour to 11 in order to display 11:00
Expected Behavior: Spinner shows minute 00.
Result: Spinner shows the current minute instead of 00. Displayed hour is co

[2018-04-26 07:18] JijeshP opened #21 "Getting error on iOS"
Getting the following error on iOS and datepicker is not working

`CONSOLE ERROR file:///app/tns_modules/@angular/core/bundles/core.umd.js:1486:24: ERROR TypeError: _co.pickDate is not a function. (In '_co.pickDate()', '_co.pickDate' is undefined)
`

[2018-04-26 07:48] #21 closed, assigned to nobody

[2018-04-26 07:49] JijeshP commented on #21
Added `ModalDatetimepicker` to provider, now i'm not getting this error

[2018-05-07 04:54] yclau opened #23 "Can't change to spinner mode in android"
Hi @davecoffin , I follow configuration below and change to spinner. but still show in calendar mode. Isn't i set wrong configuration
[code]

[code]

[2018-05-08 17:45] netivitton commented on #8
how to use webpack angular

[2018-05-10 22:39] arcovoltaico commented on #8
Thanks!

[2018-05-14 07:14] peppeg85 opened #24 "format data"
hello, tanks for the plugin, i use the 24h time format, my problem is that for one digit times the TextField associated to the dtimepicker dusplays just one digit, i.e. for time 2 it displays 2 and not 02, i've tried with a mask plugin but i have no good results, how can i fix it? manually workaround?

![screenshot_20180514-091003](https://user-images.githubusercontent.com/25436763/39983221-2dbdde

[2018-05-14 14:29] simplec-dev opened #25 "starting hour and starting minute default to current hour/minute when set to zero."
starting hour and starting minute default to current hour/minute when set to zero.

For example, when I pass in the equivalent of 2:00, I get hour=2 and minute=current minute.

On the android side, that can be fixed by changing these statements:

            var hour = options.startingHour
                ? +options.startingHour
                : now.get(Calendar.HOUR_OF_DAY);
            var minu

[2018-05-15 02:52] ghost opened #26 "Way to change timepicker's hour and minute interval?"

[2018-05-16 00:08] Ericky14 commented on #15
Please help with this issue, the TimePicker styles properly, but the DatePicker always has the green background.

[2018-06-03 15:41] relez opened #28 "[Angular] Is this compatible?"
Is this plugin compatible with the latest angular versions?

Thanks!

[2018-06-16 01:27] shiv19 commented on #28
Yes it is compatible. Because this plugin doesn't require you to register any UI elements.

[2018-06-16 01:31] shiv19 commented on #15
@venkateshsj
Which is the `targetSdk` version that you are compiling your app for?

[2018-06-16 01:32] shiv19 commented on #25
@simplec-dev Thanks for pointing out this bug.
Will be fixed soon!

[2018-06-16 04:35] Ericky14 commented on #15
@shiv19 Mine's 26 if that helps..

[2018-06-18 16:59] peppeg85 commented on #24
sorry but i still not solved, anyone could help me please?

[2018-06-18 18:19] peppeg85 commented on #24
ok i solved with moment

[2018-06-21 06:15] AshleyCao opened #29 "Change style in App_Resources\Android\values-21\style.xml not working"
### Which platform(s) does your issue occur on?
-Android

### Please, provide the following version numbers that your issue occurs with:

- CLI: 4.1.0
- Cross-platform modules: 4.1.0
- Runtime(s): 4.1.2
- Plugin(s): "nativescript-modal-datetimepicker": "1.1.3",
### Please, tell us how to recreate the issue in as much detail as possible.
This plugin is handy but setting style doesn't work for me. I

[2018-06-23 21:52] JackThomson2 commented on #29
Hi I also had the same issue I was able to solve it by removing this line

https://github.com/davecoffin/nativescript-modal-datetimepicker/blob/5e31c2379f39c8b11062933c052affce698840ef/src/modal-datetimepicker.android.ts#L63

[2018-06-25 00:25] AshleyCao commented on #29
@JackThomson2 Thanks for your reply. I remove the themeID from modal-datetimepicker.android.js and change style.xml as above. Still no difference

[2018-06-25 12:49] JackThomson2 commented on #29
@AshleyCao Hi, looking at the android docs, the style "android:dayOfWeekTextAppearance" only allow changing the colour of the text. However changing the picker to spinner does work on my local environment. It is worth noting live sync won't work if you edit the node modules directly you'll have to re-run tns run android.

[2018-06-29 05:09] ashrafaa commented on #23
Yes @davecoffin I have the same issue as well on Android. Set everything as in the guide, yet it's still showing as calendar. Kinda pain now for the user (especially the older ones!) to reach their year.

Is there anything changed now in newer Android version?

[2018-07-09 17:10] xandraureta commented on #8
how to use the clock instead of the time spinner for angular??

[2018-07-21 16:36] cerireyhan commented on #25
@shiv19 is there any progress on this?

[2018-07-23 08:53] ghost opened #32 "Change timepicker minute interval"
Is there a way to change the time's minute interval?

[2018-08-01 15:18] mhmo91 opened #33 "I love it!!!"
This plugin is freakin awesome )))
please keep the support and care for it.. thanks a million!

[2018-08-06 07:49] luisalcarasr opened #34 "Error is: Failed to build plugin nativescript-modal-datetimepicker"
### Which platform(s) does your issue occur on?
- Android
- Android 6.0
- Moto E2

### Please, provide the following version numbers that your issue occurs with:

- CLI: 4.1.2
- Cross-platform modules: 4.1.1
- Runtime(s): 4.1.3
- Plugin(s):
`
        "dependencies": {
                "@angular/animations": "~6.0.0",
                "@angular/common": "~6.0.0",
                "@angular/compiler":

[2018-08-06 08:01] shiv19 commented on #34
Did you try
`tns platform remove android`
`tns run android`?

[2018-08-06 08:18] luisalcarasr commented on #34
Yes, I try it!

[2018-08-16 13:59] luisalcarasr commented on #34
I have created a new project, copied the `package.json` file of the new project to my project and I have added again each of the plugins.

[2018-08-16 13:59] #34 closed, assigned to nobody

[2018-08-18 13:03] marcelomiranda90 commented on #16
Same problem here.

[2018-08-18 13:09] shiv19 commented on #16
Proposed changes made and published as `nativescript-modal-datetimepicker@1.1.4`

[2018-08-18 13:09] #16 closed, assigned to nobody

[2018-08-18 13:10] #33 closed, assigned to nobody

[2018-09-06 08:43] sedrak1987 opened #35 "How way I can set 00:00 as startingHour and startingMinute. With zero set don't work"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS/Android versions
- emula

[2018-09-06 09:29] shiv19 commented on #35
This is a known issue, will fix it soon

[2018-09-18 01:49] JMente opened #36 "Return incorrect time object on time picker"
### Make sure to check the demo app(s) for sample usage
Yes
### Make sure to check the existing issues in this repository
yes
### If the demo apps cannot help and there is no issue for your problem, tell us about it
TimePicker return incorrect selection on iOS, on Android working fine but on iOS the selection don't equal the result.

### Which platform(s) does your issue occur on?
- iOS
- iOS 10.3

[2018-09-18 04:03] shiv19 commented on #36
Duplicate of #35

[2018-09-18 04:03] #36 closed, assigned to nobody

[2018-09-18 15:43] damianocorrado commented on #32
Follow

[2018-09-28 17:30] sedrak1987 commented on #19
In 1.1.5 version is it solved?

[2018-09-28 17:30] shiv19 commented on #19
Should be

[2018-09-28 17:31] sedrak1987 commented on #19
I set startingHour:0,startingMinute:0 in new version, but still see same result(current hour, minute)

[2018-09-28 17:32] shiv19 commented on #19
Thanks, will release a fix tonight. Has been pending from a long time

[2018-09-28 17:33] sedrak1987 commented on #19
maybe set 60 ?

[2018-09-28 17:33] shiv19 commented on #19
No, after next update, you'll be able to set it to 0 :)

[2018-09-28 17:34] sedrak1987 commented on #19
Dear friend, my purpose is set 00:00. Hope tomorrow can get it worked

[2018-09-28 17:37] sedrak1987 commented on #19
So nativescript-modal-datetimepicker package is your work?

[2018-09-28 17:38] shiv19 commented on #19
Yes, me and Dave. Let me finish this long waiting bug fix now

[2018-09-28 17:44] shiv19 commented on #25
Fixed in 1.1.6 @cerireyhan

sorry, it took too long. would have appreciated a PR instead.
Thanks @simplec-dev

[2018-09-28 17:44] #25 closed, assigned to shiv19

[2018-09-28 17:44] shiv19 commented on #35
Fixed in 1.1.6 @sedrak1987

[2018-09-28 17:44] #35 closed, assigned to shiv19

[2018-09-28 17:45] shiv19 commented on #19
Fixed in 1.1.6 @sedrak1987  @cerireyhan

[2018-09-28 17:45] #19 closed, assigned to nobody

[2018-09-28 17:47] shiv19 commented on #29
@JackThomson2 or you can do `tns run android --syncAllFiles` to sync changes in node_modules

[2018-09-28 18:45] #2 closed, assigned to nobody

[2018-09-28 18:58] sedrak1987 commented on #19
Thanks a lot. Works! *****

[2018-09-28 19:21] sedrak1987 commented on #19
Dear friend can you also fix is24HourView: true problem in IOS? It doesn't work in IOS

[2018-09-28 19:24] shiv19 commented on #19
That feature is simply not implemented in iOS, if you know how to do it, a PR would be welcome

[2018-09-28 19:28] sedrak1987 commented on #19
I'm newer in NS. If you will have solution, please let me know. Thanks.

[2018-09-28 19:30] sedrak1987 commented on #19
Also in IOS 00:00 show as 12:00 AM. Is it normal?

[2018-09-28 19:44] shiv19 commented on #19
Yes that seems normal to me

[2018-09-28 19:45] sedrak1987 commented on #19
ok. Thanks @ # @shiv19

[2018-10-02 22:50] JMente commented on #36
Some solution? i don't have idea what's wrong, if i'm can help you please let me know.

[2018-10-09 12:12] pattrawuth2530 commented on #15
Have a same problem.
Run on android emulator Nexus9 API 27 (Android 8.1).
"nativescript-modal-datetimepicker": "^1.1.7",

[2018-10-09 12:15] shiv19 commented on #15
@pattrawuth2530 yes this is a known issue currently

[2018-10-10 23:58] kefahB opened #38 "Disabled dates and hour"
Hi,

There is way to set disabled dates for datepicker and disabled time for the timepicker ?

Thanks

[2018-10-13 05:16] BearOutThere commented on #23
Same problem here.  Would strongly prefer the spinner control.
tns-android - 4.2.0 / tns-core-modules - 4.2.1

Please let us know what can be done to fix this.  Thanks.

[2018-10-17 15:16] #29 closed, assigned to nobody

[2018-10-17 15:17] shiv19 commented on #23
With nativescript-modal-datetimepicker@1.1.8
you can now set datePickerMode to "spinner"

[2018-10-17 15:17] #23 closed, assigned to nobody

[2018-10-17 15:18] shiv19 commented on #29
With nativescript-modal-datetimepicker@1.1.8
you can now set datePickerMode to "spinner"

[2018-10-30 13:07] JakubPawlak commented on #23
Unfortunately, DatePicker styles still not working in version 1.1.10. TimePicker is working though.

[2018-10-31 07:15] BearOutThere commented on #23
Latest fixes worked for me.  Spinner appears on android.

[2018-11-03 23:09] princy05 commented on #23
@bearoutthere : Could you please share me how did you set it to spinner mode in your project? Because i tried do change my settings in styles.xml but still android is showing me calendar and not the spinner

[2018-11-04 16:57] BearOutThere commented on #23
I'm using a generated theme for my app so i had to add the picker configuration to the theme block like so in Android/values-v21/styles.xml:

[code]

this works for me and overrides the separate setting as described in the documentation.  Also make sure that you got v 1.1.8 installed of the plugin.  Good luck.

[2018-11-13 08:42] sarawieckowska commented on #15
Any update on this issue?

[2018-11-13 16:36] Ahnert1 commented on #4
@jolee11 @davecoffin This may help you, maybe not.  Simply check if the promise object contains any data:
[code]

[2018-11-30 17:32] nikoTM opened #42 "Programmatically close an open dialog"
I have a use case where I need to programmatically close the dialog after it has been opened if a certain event happens before choosing time. Currently, I can see that a `close` method is exposed for iOS, but not Android. I think this might be a useful thing to have.

Also, any ideas how I can work around it in the meantime?

[2018-11-30 18:36] shiv19 commented on #42
Hey, thanks for letting us know about it.
Adding it now :)

[2018-11-30 18:52] shiv19 commented on #42
@nikoTM
Functionality added for android, and published as v1.1.11,
readme updated

Cheers!

[2018-11-30 18:52] #42 closed, assigned to nobody

[2018-11-30 19:15] nikoTM commented on #42
Impressive speed. Thanks!

[2018-12-04 02:22] shiv19 commented on #15
@sarawieckowska
No update yet.
Help Wanted.

[2018-12-05 11:35] ematechno opened #43 "Support for both Date and Time"
Is it possible to configure the format "Date + Time" together ? See attach.

![capture](https://user-images.githubusercontent.com/40922256/49510974-1d90bc00-f88a-11e8-8ec4-ff64e3b3acf6.JPG)

If no, is planned this extension?

[2018-12-07 07:48] saikksub opened #44 "Date picker doesn't fit inside modal"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Android

### Please, provide the following vers

[2018-12-07 07:49] saikksub commented on #44
Android OS version is 7.0, Device is Moto G4 plus

[2018-12-11 10:27] meysam-mahmoodi opened #45 "Removing cancel button"
Hello there
I'd like to remove cancel button. is there a way to that?
I have two datepicker on inside of together, when user close both modals by cancel button, my app will be freezed for some seconds so I want to remove the cancel button.
thanks

[2018-12-11 10:30] shiv19 commented on #45
I would suggest using NativeScript's DatePicker widget inside a modal for your usecase.

https://docs.nativescript.org/angular/ui/ng-ui-widgets/date-picker

[2018-12-11 10:33] shiv19 commented on #43
Thanks for the suggestion.

This can be created using NativeScript's DatePicker and TimePicker, inside a modal page.

Just by using a Stacklayout with orientation horizontal, and stacking the datepicker and timepicker.

https://docs.nativescript.org/angular/ui/ng-ui-widgets/date-picker

https://docs.nativescript.org/angular/ui/ng-ui-widgets/time-picker

[2018-12-11 10:34] shiv19 commented on #44
Duplicate of #15

[2018-12-11 10:34] #44 closed, assigned to nobody

[2018-12-11 10:53] meysam-mahmoodi commented on #45
I could solved the problem with other way, anyway thank you

[2018-12-11 10:53] #45 closed, assigned to nobody

[2018-12-19 10:12] MihkelBaranov commented on #15
Temporary workaround could be to change the themeId to 0 and use the parent context's default theming

https://github.com/davecoffin/nativescript-modal-datetimepicker/blob/c7a1909f1c60c772680b0c85593713a895c02f15/src/modal-datetimepicker.android.ts#L28

![screenshot_20181219-120947](https://user-images.githubusercontent.com/3790782/50213752-2eabf380-0387-11e9-8866-6c114629022c.jpg)

for reference

[2018-12-19 10:16] shiv19 commented on #15
@MihkelBaranov!
Thank you for this :)

[2018-12-19 10:19] #15 closed, assigned to nobody

[2018-12-19 10:19] shiv19 commented on #15
@MihkelBaranov
Released as 1.1.12

[2018-12-31 00:25] mariodiciccio commented on #38
is there a solution?

[2019-01-28 08:32] jofftiquez opened #47 "Add initial date/time"
In the documentation the only options available are:

[code]

I think it's good to add an `initialDate` and `initialTime` or `defaultDate` and `defaultTime` to set the initial value of the pickers.

[2019-01-28 09:22] shiv19 commented on #47
Isn't that what startingHour, startingMinute and startingDate are for?

[2019-01-28 14:27] jofftiquez commented on #47
WTH! Yes, I think it is. LOL.

[2019-01-28 14:27] #47 closed, assigned to nobody

[2019-02-03 22:31] eddami commented on #12
Hello, This is a bit late but this may help someone else.
This is my solution for android.

Go to `App_Resources/Android/values-21/styles.xml`
From there you can edit your DateTimePicker colors.
For example let's edit the header background color of DatePicker:
[code]

This is list of items you can override:
[code]

[2019-03-08 12:56] stefan-kolb opened #48 "Autohide Keyboard on iOS"
If a soft keyboard is opened on iOS before the datepicker gets triggered, the keyboard hides the datepicker. In Android the keyboard is automatically hidden.

![image](https://user-images.githubusercontent.com/2141507/54029760-da582900-41a9-11e9-9277-21e10b5912cd.png)

In some cases the users cannot even see that the datepicker is hidden behind the keyboard.
Especially when the title is not set or

[2019-03-17 15:00] MCurran16 opened #49 "Last row is cut off on Android tablets"
### Make sure to check the demo app(s) for sample usage
✅

### Make sure to check the existing issues in this repository
✅

### If the demo apps cannot help and there is no issue for your problem, tell us about it

On android tablets, the last row of the calendar view is cut off.

### Which platform(s) does your issue occur on?
- Android
- Android version: 8.1.0
- Android emulator & device: Nexus

[2019-03-18 15:04] MCurran16 commented on #12
@moeddami Where did you find those values? 3 out of the 5 I just added did not work. Any advice?

[2019-03-19 21:00] eddami commented on #12
@MCurran16 Check this: [Android DatePicker XML attributes](https://developer.android.com/reference/android/widget/DatePicker#xml-attributes_1).

[2019-03-21 22:09] 84GigaX commented on #4
@Ahnert1 The code you've provided is not working on Android. Is it working for I-phone. I am getting the code to do a PR for Android as I know how to make it work on Android.

[2019-03-25 20:58] Ahnert1 commented on #4
@motardev My apologies.  My project is currently iOS only, so I did not test it on android.
My team is now refactoring our project so that we can release an android version of our app.  So if you do successfully complete a PR for this, it will be much appreciated!

[2019-04-03 11:41] shiv19 commented on #49
@MCurran16 Please try v1.2.0 and let me know if it resolves this issue. Thanks :)

[2019-04-03 11:43] shiv19 commented on #18
@carlosanjos  Please try v1.2.0 and let me know if it resolves this issue. Thanks :)
this version incorporates PR #27

[2019-04-03 11:43] #28 closed, assigned to nobody

[2019-04-06 17:23] 84GigaX commented on #4
Pull request completed

[2019-04-06 18:48] shiv19 commented on #4
This will be a breaking change. As the people who use this plugin will have to update their handlers.

Why not reject instead of resolve? That won't be a breaking change.

[2019-04-08 08:18] 84GigaX commented on #4
According to @Ahnert1 , it's already the way it is working on iOs. I wanted to make it work the same way on Android and iOs.

[2019-04-16 15:43] gsarme opened #52 "The date I choose doesn't appear in the textfield"
When I choose a date it doesn't appear in the textfield

In my file prenotaritiro.component.html I have
`<TextField hint="Data del ritiro" [(ngModel)]="data" (tap)="pickDate()" editable="false"></TextField>`

And in my prenotaritiro.component.ts I have
[code]
Where am I wrong?

[2019-04-18 12:49] gsarme commented on #52
I solved the problem!
I didn't import the module NativeScriptFormsModule so two-way data binding didn't work.

[2019-04-18 12:49] #52 closed, assigned to nobody

[2019-05-13 03:15] norainmatidris opened #53 "Month format"
Hi, i hope someone can clarify this for me. i use this plugin and return the value of the result for the date picker. so the result is {"day":13,"month":4,"year":2019}. the month is returning only one digit. is it possible if i want the month format to be 04 instead of 4?

[2019-05-13 13:30] MrFritmand opened #54 "IOS 9.3 and 10.3.1 pickTime is 2 hours of"
### Make sure to check the demo app(s) for sample usage
None
### Make sure to check the existing issues in this repository
The issue does not seem to be present at this time.

### If the demo apps cannot help and there is no issue for your problem, tell us about it
On IOS 9.3 and 10.3.1 the time is 2 hours of minus, for example, I set the startingHour to 18 hours then it displays 16 in 24-hour tim

[2019-06-09 20:57] DevPlus31 commented on #32
Any news?

[2019-06-21 01:29] samheihey commented on #8
go to
[code]
**For Calendar, change the followings**
[code]
to
[code]

**For Clock, change the followings:**
[code]
to
[code]

[2019-06-24 08:01] meysam-mahmoodi opened #55 "If the date is selected to March 30, 1983 then it will change to March 31, 1983 automatically on iOS"
Hello there

When I select the date to `March 30, 1983`, It will change to `March 31, 1983` automatically. also when I select `March 31, 1983` it will change to `April 1, 1983`.

### Which platform(s) does your issue occur on?
- iPhone 6s iOS 12.3.1

### Please, provide the following version numbers that your issue occurs with:
- CLI: 5.4.0
- Cross-platform modules:"6.0.0-next-2019-05-31-141709-01

[2019-07-12 14:16] fhackenb opened #56 "Restrict time ranges"
It would be awesome if there were a way to limit the time range on the slider similar to the `minDate` and `maxDate`

[2019-07-21 12:04] meysam-mahmoodi commented on #55
any suggest?

[2019-07-22 07:36] meysam-mahmoodi commented on #55
Everything is ok until 1992. before that, Date will show in DatePicker wrong. e.g: I chose 30, March 1983 and set this time to `startingDate` property then when open `DatePicker ` again it will show 31, March 1983 or 29, March 1983.
It's so strange.

[2019-07-24 09:23] meysam-mahmoodi commented on #55
![date](https://user-images.githubusercontent.com/39044062/61781809-45815f80-ae1a-11e9-9120-e6d4a854bbaf.gif)

[2019-07-24 12:30] meysam-mahmoodi commented on #55
After a long while, finally, my issue was solved. I used `nativescript-datetimepicker` instead of this plugin and everything got alright.

[2019-07-24 12:30] #55 closed, assigned to nobody

[2019-07-25 10:28] AlexisWalravens opened #57 "Creating custom themes on iOS"
### Which platform(s) does your issue occur on?
- iOS

### Please, provide the following version numbers that your issue occurs with:
- CLI: 6.0.2

### Please, tell us how to recreate the issue in as much detail as possible.

I'd like to be able to make my own theme, for instance I'd like to change the font of the title text on iOS as it doesn't match the font of my app.

Is there a way to do it ?

[2019-08-01 21:18] tomcatmwi opened #58 "24 hour time format"
It would be nice to have an option like `timeFormat` or something to switch between 12 and 24 hour formats.

[2019-08-05 07:01] ndyebo07 commented on #38
Hello, wandering if anyone found a solution to this yet?

[2019-08-06 12:17] mariodiciccio opened #59 "Why don't works calendar picker mode"
I have installed the new release 1.2.0 and datePickerMode = 'calendar' don't works, while in 1.1.10 it worked fine.
Why?

If i modify the default value in "calendar" (<item name="android:datePickerMode">spinner</item>"
 -> `App_Resources/Android/values-21/styles.xml`) then show calendar.

[2019-08-07 12:06] mtenus commented on #58
It seems that you can set only for Android using 'is24HourView' in PickerOptions

[2019-09-26 05:00] #4 closed, assigned to nobody

[2019-10-08 12:58] Willhay108-imprint opened #61 "Modal is blank on iOS 13.1"
### Which platform(s) does your issue occur on?

iOS

### Please, provide the following version numbers that your issue occurs with:

1.2.1 of Datepicker, 13.1 for iOS.

### Please, tell us how to recreate the issue in as much detail as possible.
Open up a date picker, the picker is there as I can scroll the dates and feel the haptic feedback, however nothing is rendered inside the modal it is com

[2019-10-08 19:45] dan-sel-tx commented on #61
I believe this is happening due to Dark Mode being set on the iPhone, a new Apple feature?
This is the behavior we are seeing when set to dark mode, though we do see the text we set for Choose a Date. We have theme: 'dark' set for the module, and have tried all the others with no fix yet.

[2019-10-08 19:47] davecoffin commented on #61
Yea, so this is definitely dark mode turning the picker white. I can look into fixing this but if you need an urgent fix you can add this to Info.plist and it will use the light UI style for your app, which is probably what youll want to do anyway unless you are making the effort of your whole UI respecting the new feature
[code]

[2019-10-08 20:02] dan-sel-tx commented on #61
Can confirm this solves this issue, and many others due to the mode change. Thanks Dave! This is one my favorite plugins, very well done.
Would love to have this same module with the ability to pass in a list of string items into a scroll picker.
One can dream... :)

[2019-10-09 07:00] Willhay108-imprint commented on #61
Yep, the plist change indeed fixes it. Thank you very much!

[2019-10-29 01:39] ppyoosuf opened #62 "How to set default date/time"
Hi,
Is is possible to set default date / time while show the picker ?

[2019-10-29 02:04] #62 closed, assigned to nobody

[2019-11-19 21:50] blurp1478963 commented on #62
Hi @ppyoosuf why did you close this? I don't find how to set the default value too...!
Someone has an idea?

[2019-11-19 21:51] blurp1478963 opened #63 "How to set default date/time"
Same as #62 but no answer found...
So I try :)

[2020-02-10 06:36] ppyoosuf commented on #62
You can set the staartingDate field of the picker

eg .pickDate({
				title: "Select Date",
				theme: "light",
				startingDate: defaultDate, //new Date()
				maxDate: new Date()
			})

[2020-02-20 21:34] #61 closed, assigned to nobody

[2020-04-13 00:22] dimitriospafos opened #65 "Modal picker not working on IOS"
I'm getting the following error when calling the .pickDate()

Error: TypeError: application.systemAppearance is not a function. (In 'application.systemAppearance()', 'application.systemAppearance' is undefined)
Can't end BackgroundTask: no background task exists with identifier 2 (0x2), or it may have already been ended. Break in UIApplicationEndBackgroundTaskError() to debug.

### Which platform(

[2020-05-28 15:46] acortino commented on #65
@dimitriospafos  Did you solve this issue? I have the same problem...

[2020-05-28 17:23] dimitriospafos commented on #65
@acortino No, unfortunately I haven’t. Let me know if you get a solution for this issue please. I’m not using this plugin for now.

[2020-06-09 23:40] mreall commented on #59
I have the same issue on 1.2.2 on Android.  The default value for datePickerMode is supposed to be "calendar."  Even explicitly setting it when calling picker.pickDate doesn't work.

As @mariodiciccio mentioned, I see the following in `App_Resources/Android/src/main/res/values-v21/styles.xml`:
[code]

Does anyone know how to force the picker into calendar mode from javascript?

[2020-07-27 15:17] himanshukk81 commented on #8
how to show only month in picker ?

[2020-08-11 14:59] veeravetrivel opened #67 "Nativescript Angular Dialog 'ok' and 'cancel' button color is not set"
### Which platform(s) does your issue occur on?
- Android - 8
- emulator or device. What type of device? Emulator - Google Pixel

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it) 6.7.8
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/tns-core-modules/package.json` file in your project)
 "tns-core-m

[2020-08-13 11:00] ouss4m4 commented on #65
just hit this problem on ios ...

Edit: in my  case, i was using tns-core-modules 6.1.0  upgrading the deps solved it for me, the function don't even exist in the previous versions

[2020-09-21 23:25] mreall opened #68 "Issues with iOS 14"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
The plugin worked fine on NS6. But after updating to NS7 the plugin's UI doesn't fully load and the app crashes when the "Cancel" or "Done" buttons are tapped.

### Which platform(s) does your issue occur on?
- iOS 14
- emulator: iPhone 8

### Please, provide the following version numbers that your issue occu

[2020-09-21 23:35] shiv19 commented on #68
Hi @mreall
We haven't upgraded this plugin to support {N} 7 yet.
We'll be updating it very soon before the end of this week :)

[2020-09-22 15:12] OPADA-Eng commented on #68
Same here. with NS 6 and ios 14.

[2020-09-22 18:21] adrianpdaluz commented on #68
We're also getting the same issue on NS 6 and iOS 14

[2020-09-23 10:35] deivdev commented on #68
same error, NS7 and iOS 14.

[2020-09-26 18:17] OPADA-Eng commented on #68
Any updates?

[2020-09-28 17:21] mreall commented on #68
Hi @shiv19, thanks for working on this fix. It looks like a PR has also been submitted. Do you have an update on when you'll have a working version published?

[2020-09-28 20:05] #68 closed, assigned to nobody

[2020-09-28 20:06] shiv19 commented on #68
@mreall thanks for letting me know about the PR, will release this soon and leave a message here :)

[2020-09-29 04:13] shiv19 commented on #68
@mreall
Please upgrade to [nativescript-modal-datetimepicker@1.2.3](https://www.npmjs.com/package/nativescript-modal-datetimepicker)
I've upgraded the plugin demo and made sure it works on iOS 14.
Thanks to @alonstar :)

[2020-09-29 10:59] adrianpdaluz commented on #68
Thanks for your help on this. I just updated to the latest version that has the fixes for iOS14 but noticed that the picker is not centered on both tablet and phone devices.
![Screen Shot](https://user-images.githubusercontent.com/8293376/94550127-df138080-0218-11eb-9c31-205c9ccf3879.png)

[2020-09-29 17:55] mreall commented on #68
@shiv19 and @alonstar, thanks for providing the update.  I upgraded and am now getting the following error:
[code]

The issue appears to be that you're still using `tns-core-modules` instead of `@nativescript/core`.  When the code is compiled to javascript it creates the following code. NS7 doesn't use tns-core-modules anymore.
[code]

[2020-09-29 19:30] shiv19 commented on #68
@mreall my bad!
I only updated the demo app and changed the tns-core-modules imports there.
I didn't check the imports in the plugin source.
Just a minute.. Let me fix that quick

[2020-09-29 21:16] shiv19 commented on #68
@mreall
Please use v2.0.0 for NativeScript 7 :)
v1.2.3 and below is for {N} 6 and below.

[2020-09-29 22:44] mreall commented on #68
@shiv19 thanks for fixing that so quickly! It's now working for me on {N} 7 and iOS 14.  I have the same problem that @adrianpdaluz reported with the spinner not centered on the screen, but otherwise no issues.

[2020-09-29 23:25] shiv19 commented on #68
Ah! Sorry I missed the comment by @adrianpdaluz
I'll see if I can center that

[2020-09-29 23:47] shiv19 commented on #68
@mreall @adrianpdaluz
In v2.0.1 the picker view should be centered properly :)

[2020-09-30 14:03] relez opened #71 "Picker crashes if I select previous date in iOS 14"
### Make sure to check the demo app(s) for sample usage
Yes

### Make sure to check the existing issues in this repository
Yes

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.
If I select minDate (10 years ago) and maxDate (today's date) the Picker crashes with no e

[2020-09-30 14:06] adrianpdaluz commented on #68
@shiv19
Thanks again for your help on this. Could you also do another build for NS6. We have some plugin dependencies that are still not working for NS7 so we haven't finished our migration yet.

[2020-09-30 14:43] mreall commented on #68
Thanks again @shiv19.  It's now centered properly in 2.0.1 for {N} 7 on iOS 14.

[2020-09-30 21:51] shiv19 commented on #68
@adrianpdaluz
Use https://www.npmjs.com/package/nativescript-modal-datetimepicker/v/1.2.4
nativescript-modal-datetimepicker@1.2.4 :)

[2020-09-30 22:24] adrianpdaluz commented on #68
@shiv19 thank you!

[2020-10-02 15:22] keithgulbro commented on #71
Same issue, @davecoffin please advise.

[2020-10-06 21:10] Serge-SDL opened #72 "Old version when runing ns plugin add (crash with ns7 and ios)"
### Which platform(s) does your issue occur on?
- iOS
- emulator

### Please, tell us how to recreate the issue in as much detail as possible.
- just run ns plugin add nativescript-modal-datetimepicker on a ns 7 project -> v1.2.4 is installed
- run on ios emulator -> error "TypeError: Cannot read property 'osVersion' of undefined"
- the 1.2.4 version is not the last one with ns7 commits !!

how ca

[2020-10-20 06:14] romandrahan commented on #72
Same for me.

[2020-10-22 20:53] paul-castro commented on #72
Any updates on this issue?

[2020-10-22 23:55] davecoffin commented on #72
Sorry for the delay guys! I'll try and bang this out tomorrow, will likely move it to the https://github.com/nstudio/nativescript-plugins repo.

[2020-10-23 00:04] davecoffin commented on #72
Ok I just published 2.1.0 for now. Should be good for supporting nativescript 7. thanks to @alonstar and @adrianpdaluz for the help!

[2020-10-23 01:24] paul-castro commented on #72
I updated nativescript-modal-datetimepicker plugin into 2.1.0 but when I ran the project, I got this error:

-----

ERROR in ./app/features/more/bill-payment/schedule-billpay/schedule-billpay.component.ts
Module not found: Error: Can't resolve 'nativescript-modal-datetimepicker' in
'/usr_folder/src/app/features/more/bill-payment/schedule-billpay'
 @ ./app/features/more/bill-payment/schedule-billpa

[2020-10-23 09:03] nikoTM commented on #72
Same, I get `Can't resolve 'nativescript-modal-datetimepicker'` with ns7

[2020-10-23 09:29] nikoTM commented on #72
@davecoffin Something is not right about the published version, transpiled javascript is missing, only `d.ts` files are present:

<img width="267" alt="Screen Shot 2020-10-23 at 12 28 57 PM" src="https://user-images.githubusercontent.com/1929832/96987198-58a64200-152b-11eb-9928-7caeb9ac907f.png">

[2020-10-24 23:03] razorsyntax commented on #72
Same here.  I'm getting

`Module not found: Error: Can't resolve 'nativescript-modal-datetimepicker'`

I'm using Angular 10.1.0 and Nativescript 7.0.10

[2020-11-01 19:11] dnepromell commented on #72
@davecoffin could you rebuild the package and publish the full version? *.ts files are miss in 2.1.0

[2020-11-02 14:51] fpaaske opened #75 "Consider removing the toast showing Min/Max time"
This is not really a bug, but more a suggestion/change request.

I'm currently using version **1.2.4** of this plugin in a **NativeScript 6** app.
When I'm opening a time picker dialog with max or min time set in `PickerOptions`, a toast is shown with this information

![image](https://user-images.githubusercontent.com/1579581/97881113-45ad2200-1d22-11eb-94cc-21c890f9b4e2.png)

Unfortunately, this

[2020-11-02 18:43] shiv19 commented on #75
Good suggestion! We can add an option to turn off the toast and also to configure the text on it.

[2020-11-02 21:40] fpaaske commented on #75
Yes, that sounds great! Hopefully it can be done on both version 1.x and 2.x :)

[2020-11-06 10:33] montxogandia commented on #72
I'm waiting for this, the @proplugins version seems to fail also in iOS 14. Thanks.
Can I solve it meanwhile or do I have to wait?

[2020-11-07 22:48] razorsyntax commented on #72
Same as above. Is there a way to solve this without waiting for a pull request?

[2020-11-09 13:49] montxogandia commented on #72
Guys I finally used this version that actually works on iOS 14.1 and NS 7.0.11:
https://www.npmjs.com/package/nativescript-modal-datetimepicker-ns-7

[2020-11-15 17:13] donny08 opened #76 "Modal date time picker not working in ios version 14.2"
I am using nativescript 5.4.0

platform/ios "version": "6.5.2"

      And   "nativescript-modal-datetimepicker": "^1.1.12",

I have recently updated xcode version to 12.
I have attached screen shot of the issue if any one have the solution please assist.
![Screenshot 2020-11-15 at 10 11 47 PM](https://user-images.githubusercontent.com/9796105/99191632-a65f4480-278f-11eb-8f73-538bd08b4a7e.png)

[2020-11-18 15:59] cwolff-wells commented on #76
It is fixed in version 1.2.4 with the commits from September 24th

[2020-11-19 06:56] donny08 commented on #76
@davecoffin

[2020-11-19 17:00] donny08 commented on #76
@cwolff-wells  After installing 1.2.4 version. I am getting below error on calling .pickDate() method

**Error: TypeError: application.systemAppearance is not a function. (In 'application.systemAppearance()', 'application.systemAppearance' is undefined)**

[2020-11-19 18:42] tech-oss commented on #76
@shiv19 Can you please assist I am having the same issue when updated to 1.2.4 N below 7.

[2020-11-19 18:46] tech-oss commented on #76
@shiv19  @cwolff-wells @davecoffin Error: TypeError: application.systemAppearance is not a function. (In 'application.systemAppearance()', 'application.systemAppearance' is undefined

[2020-11-24 11:16] tech-oss commented on #76
@shiv19 @cwolff-wells @davecoffin Any one?

[2020-11-24 15:31] cwolff-wells commented on #76
@tech-oss I have not run into that issue.  We are running Nativescript 6+.  The code for the ios date picker is at https://github.com/davecoffin/nativescript-modal-datetimepicker/blob/master/src/modal-datetimepicker.ios.ts.  It uses @nativescript/core which is Nativescript 6+.  If you don't want to start using @nativescript/core you may have to fork an older version that works for you and then add

[2020-11-28 21:04] mreall opened #77 "Uncaught ReferenceError: NativeClass is not defined NS7 on iOS14.2"
I get the following error when trying to run on a device using nativescript-modal-datetimepicker v2.1.2. The app builds successfully, then immediately crashes when loading the app.
[code]

### Which platform(s) does your issue occur on?
- iOS 14.2 device

### Please, provide the following version numbers that your issue occurs with:
- CLI: 7.0.11
- Cross-platform modules: 7.0.13
- Runtime(s): iOS:

[2020-11-29 18:21] tech-oss commented on #76
@cwolff-wells I have updated the app to native script core using tns migrate command. And after that I updated all the plugins used.
But Its showing me an error please see complete log of terminal below:
roject successfully prepared (ios)
Configure firebase
Add iOS crash logging
Building project...
Xcode build...
error: Multiple commands produce '/Users/macbookpro/Documents/flow-app/platforms/ios/

[2020-11-29 18:22] tech-oss commented on #76
@cwolff-wells I am using xcode version 11.2 & here is my package.json file:
{
    "nativescript": {
        "id": "com.atrixdigital.flow",
        "tns-android": {
            "version": "6.0.0"
        },
        "tns-ios": {
            "version": "6.2.0"
        }
    },
    "scripts": {
        "build-ios": "tns build ios --bundle --env.uglify && tns prepare ios --release",
        "build-andr

[2020-11-30 09:43] paul-muckypuddle commented on #77
Also expewrienceing this issue. Looks like it occurs on another package and they've got a fix - see

https://github.com/EddyVerbruggen/nativescript-barcodescanner/pull/248/files

[2020-11-30 18:25] mreall commented on #77
Thanks @paul-muckypuddle and @Logikgate. FYI @davecoffin, would you mind to review the PR and publish the update when you have a minute?

[2020-12-02 16:06] novamss opened #79 "Unable to apply changes on device. Error is: Socket connection timed out"
After add targetSdkVersion 29 at app.gradle file
like this
android {
  defaultConfig {
    generatedDensities = []
    targetSdkVersion 29

I get this error Unable to apply changes on device. Error is: Socket connection timed out

[2020-12-04 11:56] ppyoosuf opened #80 "Not visible Datepicker element in IOS - Appium"
### Which platform(s) does your issue occur on?
- iOS - 6.2.0
- Device

Plugin version - 1.2.4

The Datepicker UI element is not visible in Appium inspector (IOS version 13.1,13.2,13.4 devices) .But it's working in all other versions. When I check the native app(Objective C) with Datepicker, it's working fine.

[2020-12-10 14:15] #77 closed, assigned to nobody

[2020-12-10 14:21] davecoffin commented on #72
should be fixed now in 2.1.5

[2020-12-10 14:21] #72 closed, assigned to nobody

[2021-01-12 17:23] natebgurutech commented on #67
You'll have to style it the Android theme way.

I'll give you an example of how I got it working.

It would be nice if something like this was in the readme because this took me a while to get working, googling this stuff was a pain.

[code]

[code]

[code]

[2021-01-14 12:42] zamblas commented on #63
picker
        .pickDate({
          ...
          startingDate: new Date()
        })

[2021-01-20 17:50] fpaaske commented on #75
@shiv19 @davecoffin did you get time to look at this?

[2021-01-29 02:57] syahnur197 commented on #75
quick and dirty way is to comment out line 120-122 in `node_modules/nativescript-modal-datetimepicker/modal-datetimepicker.android.js` in your node_modules

[code]

[2021-04-15 20:41] enich-dev opened #83 "Crashes on iOS 14.4 when selecting 'Cancel' or 'Done'"
### Make sure to check the demo app(s) for sample usage
--------

--------

### Make sure to check the existing issues in this repository
--------

--------

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.
--------

--------

### Which platform(s) does your issue oc

[2021-04-19 16:21] enich-dev commented on #83
@davecoffin Any help would be appreciated as this will heavily impact our app. Thank you.

[2021-04-21 20:31] pandabuilt commented on #83
Do you have a catch block in your code? like .catch( after .then? I removed it and no longer having the crashing error.

[2021-04-24 05:51] AquilesOliveiraDev commented on #83
I have same problem...

[2021-04-24 14:39] pandabuilt commented on #83
@enich-dev did this work for you?

[2021-04-24 21:03] justintoth commented on #83
I tried @pandabuilt's suggestion and it didn't work, the app still crashes when tapping the Done button on the date picker modal even when the catch block is removed. Here is the code:

[code]

Interestingly, it doesn't make it into the then or catch functions when it crashes, nor does it show any errors in the logs. It simply quits the app. Then if I reopen the app, the date picker works fine. Fo

[2021-04-27 14:53] pandabuilt commented on #83
Nevermind, I stand corrected.  It's reopening the app that works not my removal of the catch block.

[2021-04-28 01:07] AquilesOliveiraDev commented on #83
i have the same error...

[2021-04-28 15:42] enich-dev commented on #83
Hey all, unfortunately my team and I did not have time to dig into this further and we decided to use NativeScript's own datetimepicker that can be found [here](https://github.com/NativeScript/plugins/tree/master/packages/datetimepicker). In doing so, we are no longer seeing crashes. I hope this will help others as well. Thanks.

[2021-05-05 16:37] Atomico001 commented on #7
@spstratis Can you explain better how achieve this? i added the language on localization tab, but now? what i need to do?

Thanks

[2021-05-25 14:45] mreall opened #87 "How to select dates before 1900?"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
The date picker only allows me to select dates back to 1900. Is there a way to get it to go earlier?

### Which platform(s) does your issue occur on?
- I have only tested it on Android emulator and device.

### Please, provide the following version numbers that your issue occurs with:
- CLI: 7.2.1
- Cross-pla

[2021-05-25 18:27] mreall commented on #87
The [default minimum date](https://developer.android.com/reference/android/widget/DatePicker#getMinDate()) is 1900-01-01. This can be overridden by passing in an earlier date to the minDate property, e.g. `new Date(1500, 1, 1)`

[2021-05-25 18:27] #87 closed, assigned to nobody

[2021-07-28 10:32] cristiandaulisio commented on #83
i have the same problem.

[2021-07-28 11:12] justintoth commented on #83
@Atomico001 As @enich-dev suggested, switch to NativeScript's datetimepicker. It works much better.

[2021-07-28 11:15] Atomico001 commented on #83
Hello, but i need inside dialog, the native one don't use dialog.

[2021-07-28 12:58] cristiandaulisio commented on #83
Thanks you, i have a problem... other plugin ask me the "context", i tried application context but doesn't work.. any idea?

[2022-01-05 01:00] #12 closed, assigned to nobody